/* ==== @ FF ==== */

@font-face {
  font-family: 'Eksell Display Large';
  src: url('./fonts/EksellDisplay-Large.eot'); /* IE9 Compat Modes */
  src: url('./fonts/EksellDisplay-Large.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/EksellDisplay-Large.woff') format('woff'), /* Modern Browsers */
       url('./fonts/EksellDisplay-Large.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/EksellDisplay-Large.svg#c7cf8896a6e72b7f3b94d04548a9d8b7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./fonts/MaisonNeue-Book.eot'); /* IE9 Compat Modes */
  src: url('./fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/MaisonNeue-Book.woff') format('woff'), /* Modern Browsers */
       url('./fonts/MaisonNeue-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/MaisonNeue-Book.svg#cfe9c4d435b13936a17ea5090528f1ab') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('./fonts/MaisonNeue-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('./fonts/MaisonNeue-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/MaisonNeue-BookItalic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/MaisonNeue-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/MaisonNeue-BookItalic.svg#bbed207300b15245656f8e98a9d8ff7e') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('./fonts/MaisonNeue-Mono.eot'); /* IE9 Compat Modes */
  src: url('./fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/MaisonNeue-Mono.woff') format('woff'), /* Modern Browsers */
       url('./fonts/MaisonNeue-Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/MaisonNeue-Mono.svg#af2fa94b953e46dc77e59983b9e9c303') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

/* ==== FONTS ==== */

body {
  background-color: #F7F7F7;
  color: #2C2C2C;
  font-family: 'Maison Neue';
  font-size: 14px;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Eksell Display Large';
  font-weight:  400;
  font-size: 41px;
  letter-spacing: 0.05px;
  line-height: 44px;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Maison Neue Mono';
  font-weight:  400;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 1.5em;
}

p > a, a:visited, a:hover {
  color: #2C2C2C;
  text-decoration: none;
}

.comment, .comment a, .comment a:visited {
  color: #ababab;
  font-size: 12px;
  text-decoration: none;
}

.button {
  background: white;
  color: #2C2C2C;
  display: inline-block;
  border: 1px solid #2C2C2C;
  padding: 17px 20px 15px;
  font-size: 12px;
  margin-left: 6px;
}

.button, .button:hover {
  text-decoration: none;
  animation: none;
  text-shadow: none;
}

.eksell {
  font-family: 'Eksell Display Large';
}

/* ==== CRAZY HOVER ==== */

a:hover, a:active {
  text-shadow: 2px 2px 0px rgba(238,184,202,1.0), -2px -2px 0px rgba(254,230,193,1.0), -4px 0px 0px rgba(239,196,188,1.0);
  animation: text_shadow .7s cubic-bezier(.43,1.06,1,-0.11) infinite;
  text-decoration: none;
}

@keyframes text_shadow {
  0% {text-shadow: -4px -6px 0px rgba(238,172,150,1.0);}
  25% {text-shadow: -6px 4px 0px rgba(238,215,181,1.0);}
  50% {text-shadow: 4px -4px 0px rgba(213,140,156,1.0);}
  75% {text-shadow: 2px 6px 0px rgba(252,186,127,1.0);}
  100% {text-shadow: 6px 2px 0px rgba(254,249,244,1.0);}
}

/* ==== LAYOUT ==== */

.hero-row {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

@media only screen and (max-width: 720px) {
  .sticky {
    position: initial;
    min-height: 1vh !important;
    padding: 40px 0;
  }
}

.vertically-center {
  overflow: auto;
}

.down-arrow {
    position: absolute;
    bottom: 80px;
}

@media only screen and (max-width: 720px) {
  .down-arrow {
    bottom: 27px;
  }
}

.inline {
  display: inline;
  margin-bottom: 0;
}

footer {
  margin-top: 100px;
  margin-bottom: 100px;
}


/* ==== HEADER ==== */

.cube{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media only screen and (max-width: 720px) {
  .cube {
    top: 10px;
    transform: none;
  }
}

header {
  position: fixed;
  top: 10px;
  right: 30px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 0;
  white-space: nowrap;
}

header a {
  color: #2C2C2C;
  text-decoration: none;
  margin-right: 10px;
}

header a:not(emoji) {
  margin-right: 15px;
}

header .emoji:hover {
  text-shadow: none;
  animation: none;
}

.tooltip {
  position: relative;
  top: 77px;
  -webkit-transform: rotate(-90deg); 
  transform: rotate(-90deg);
  width: 0;
  display: inline-block;
  right: 8px;
  visibility: hidden;
}

.emoji:hover .tooltip {
  visibility: visible;
}

@media only screen and (max-width: 720px) {
  header {
    top: -1px;
    right: 17px;
  }
}
    
/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}
