
/* FONT IMPORT */

@font-face {
  font-family: 'Freight';
  src: url('./assets/FreightBigBook.eot'); /* IE9 Compat Modes */
  src: url('./assets/FreightBigBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/FreightBigBook.woff') format('woff'), /* Modern Browsers */
       url('./assets/FreightBigBook.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/FreightBigBook.svg#6ad382c6614dc1acb715f8335b95168d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neuzeit';
  src: url('./assets/NeuzeitSLTStd-Book.eot'); /* IE9 Compat Modes */
  src: url('./assets/NeuzeitSLTStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/NeuzeitSLTStd-Book.woff') format('woff'), /* Modern Browsers */
       url('./assets/NeuzeitSLTStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/NeuzeitSLTStd-Book.svg#0f36e451afbb48ba6ebc31554b154772') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neuzeit';
  src: url('./assets/NeuzeitSLTStd-BookHeavy.eot'); /* IE9 Compat Modes */
  src: url('./assets/NeuzeitSLTStd-BookHeavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/NeuzeitSLTStd-BookHeavy.woff') format('woff'), /* Modern Browsers */
       url('./assets/NeuzeitSLTStd-BookHeavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/NeuzeitSLTStd-BookHeavy.svg#36788af0bf00c02caa47ebfcca867f54') format('svg'); /* Legacy iOS */
       
  font-style:   bold;
  font-weight:  700;
}


/* GENERAL */

html {
  background: url('./assets/blackgrain.png');
  color: #ffffff;
  font-family: 'Neuzeit', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 22px;
  }

a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
  }

a:hover, a:active {
  text-decoration: underline;
  }


/* HEADER */

.header_container {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  letter-spacing: 0.04em;
  }

.header_container a {
  text-decoration: none;
  text-transform: uppercase;
}

.header_left {
  align-self: flex-start;
  margin: 17px 0 0 10px;
}

.header_right {
  text-align: right;
  margin: 10px 27px 0 auto;
}

.navigation_link a {
  display: inline-block;
  margin-left: 10px;
  }

@media screen and (max-width: 600px) {
  .header_container {
    flex-direction: column;
    text-align: center;
    }
  .header_container * {
    align-self: center;
    margin: auto;
    }
  .header_left > .rotated-text > span {
    -webkit-transform: rotate(10deg);
    margin: 10px 0 10px 0
  }
}

.rotated-text {
  height:8px;
  line-height:16px;
  position:relative;
}
.rotated-text > span {
  float:left;
  -webkit-transform: rotate(-10deg);
}

/* BODY */

.hero-text {
  position: absolute; 
  width: 100%;
  top: 150px; 
  bottom: 40px; 
  margin: auto;
  text-align: center;
  font-family: 'Freight', 'Times New Roman', serif;
  font-size: 54px;
  line-height: 50px;
  letter-spacing: .02em;
  transform: scale(.9,1);
  -webkit-transform: scale(.9,1);
  -webkit-font-smoothing: antialiased;
}

.hero-text p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 15px;
}

.hero-text a {
  font-family: 'Neuzeit', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 24px;
  font-size: 47px;
  letter-spacing: -.01em;
}

.hero-text > br {
  font-size: 260px;
}

@media screen and (max-width: 1000px) {
  .hero-text {
    font-size: 41px;
    line-height: 43px;
    position: relative;
  }
  .hero-text a {
    font-size: 35px;
  }
  .hero-text p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

@media screen and (max-width: 670px) {
  .hero-text {
    font-size: 37px;
    line-height: 42px;
    letter-spacing: 0.05em;
  }
  .hero-text a {
    font-size: 32px;
  }
  .hero-text p {
    display: inline;
  }
}

a:hover, a:active {
  text-shadow: 2px 2px 0px rgba(113,46,52,1), -2px -2px 0px rgba(216,194,161,1), -4px 0px 0px rgba(176,116,129,1);
  animation: text_shadow .5s cubic-bezier(.43,1.06,1,-0.11) infinite;
  text-decoration: none;
}

@keyframes text_shadow {
  0% {text-shadow: 2px -8px 0px rgba(113,46,52,1);}
  25% {text-shadow: -8px 5px 0px rgba(216,194,161,1);}
  50% {text-shadow: 5px -5px 0px rgba(176,116,129,1);}
  75% {text-shadow: -5px 8px 0px rgba(141,87,52,1);}
  100% {text-shadow: 8px 2px 0px rgba(239,232,224,1);}
}

